if SHIELD_BRIANBANRI_LEFT

config ZMK_KEYBOARD_NAME
    default "brianbanri_kb"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_BRIANBANRI_LEFT || SHIELD_BRIANBANRI_RIGHT

config ZMK_SPLIT
    default y

endif